[Desktop Entry]
Name=Start Data Logger
Comment=Start the Steer Energy Data Logger
Icon=/usr/share/pixmaps/openbox.png
Exec=bash -c 'cd "/home/pi/Github/Datalogger-Alistair-Pi" && python3 main.py'
Type=Application
Encoding=UTF-8
Categories=Application;
StartupNotify=true
Terminal=false
